body {
   background-color: orange; 
   color:#d86c19;
   margin-bottom: 100px;
   font-family: Arial, Helvetica, sans-serif;
}

header{
    border-bottom: solid 2px #7d3f0f;
    text-align: center;
    font-size: 32px;
    padding: 10px;
    background-color: #FFA832;
}